body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    Countries Map
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#country-map {
  max-width: 1140px;
  height: 400px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

/* COMMAND BUTTON
=============================================================
*/
thead > tr {
    height: 34px;
}
tr {
    height: 74px;
}

td {
    border-bottom: 1px solid #f0f0f0 !important;
}

.command-icon-btn {
    background-color: transparent !important;
    border: none !important;
    padding-right: 1px !important;
    min-width: 0px !important;
    display: none !important;
    margin: -2px !important;
    padding-left: 10px !important;
}

.command-icon-btn:hover {
    background-color: #0071bc !important;
}

.showme.command-icon-btn {
    display: inline-block !important;
}

.command-icon-btn.k-grid-delete {
    margin-left: 5px !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

tr.top-five td{
    color: black;
    background-color: #F5F6CE !important;
}

a.k-button {
    background-color: #f0f0f0 !important;
}

.info-item {
    margin: 0px;
}